* {
  margin: 0;
  padding: 0;
}

:root {
  overflow-x: hidden;
  --main-bg-color : #022B3A;
  --main-white : #FFFFFF;
  --accent-color-A: #548E8C;
  --accent-color-B: #385179;
  --test-accent: #E1E5F2;
  --red-accent: #993955;

  --transition-curve: cubic-bezier(0.33, 1, 0.68, 1);
}


#root {
  padding-top: 3vh;
  height: 200vh;
  /* background: linear-gradient(180deg, rgba(58, 80, 107, 0.8) 0%, rgba(58, 66, 75, 0.8) 56.84%, rgba(58, 80, 107, 0.096) 100%); */
}

body {
  background-color: var(--main-bg-color);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#month {
  color: var(--main-white);
  padding: 0.5vh 0;
  padding-left: 5%;
  font-size: 3.56vh;
  height: 40%;
}

.topmostwrapper {
  display: flex;
  flex-direction: row;
}


.leftbutton, .rightbutton {
  margin-top: 40vh;
  height: 10vh;
  width: 5vw;
  font-size: 1.7rem;
  color: var(--main-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftbutton:hover, .rightbutton:hover {
  transform: scale(1.25, 1.25);
  transition: transform 0.5s var(--transition-curve);
}

.content {
  height: 95vh;
  width: 90vw;
  border-radius: 5px;
}

.upper {
  height: 12%;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color-B);
  border: 1px solid rgba( 119, 141, 169, 0.2);
}

.lower {
  height: 88%;
  background-color: var(--main-white);
  position: relative;
  /* overflow: hidden; */
}

.neweventcircle {
  width: 50px;
  height: 50px;
  background-color: var(--red-accent);
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-white);
}

.neweventcircle:hover {
  transform: scale(0.95, 0.95);
  transition: transform 0.5s var(--transition-curve);
}

.neweventcircle i {
  color: var(--main-white);
  font-size: 2rem;
}

.scrollcontainercontainer {
  height: 100%;
  overflow: hidden;
}

.scrollcontainer {
  background-color: var(--main-white);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scrollcontainer::-webkit-scrollbar {
  width: 0px;               /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.scroller {
  height: 150vh;
  position: relative;
}

.calbody {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.daycolumn {
  width: 13.571%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba( 119, 141, 169, 0.3);
}

.daycolumn:last-child {
  border-right: none;
}

.dayheadercontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  color: var(--main-white);
}

.dayheader {
  text-align: center;
  height: 100%;
  width: 13.571%;
  border-right: 1px solid rgba( 119, 141, 169, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dayheader:nth-child(8) {
  border-right: 1px solid rgba( 119, 141, 169, 0);
}

.spacer {
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  position: relative;
  width: 100%;
  height: 6.25vh;
  border-right:1px solid rgba( 119, 141, 169, 0.2);

}

.grid:nth-child(24){
  border-bottom: none;
}

.suffering {
  width: 100%;
  height: 100% ;
  display: flex;
  flex-direction: row;

}

.calbody hr {
  border: 1px solid rgba(110, 126, 133, 0.15);
}

.spacer p {
  font-size: 0.75rem;
}

.eventspace {
  height: 100%;
  width: 100%;
  /**background-color: rgba(0,255,0,0.1);**/
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spacergrid {
  position: relative;
  width: 100%;
  height: 6.25vh;
}

.spacergrid hr {
  display: none;
}

.spacergrid p {
  white-space: nowrap;
  position: absolute;
  line-height: 1;
  top: -0.5em;
  right: 0.25vw;
  font-size: 1vw;
  padding-right: 0.5vw;
}

.spacergrid:first-child p{
  top: 0;
}

.eventgrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 98%;
  position: relative;
  overflow: hidden;
}

.eventunit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 13.571%
}

.displayspacer {
  width: 2%;
  height: 100%;
}

.Event {
  position: absolute;
  width: 100%;
  background-color: var(--accent-color-A);
  left: 0;
  margin-top: 2px;
  border-radius: 3px 3px 0 0;
}

.Event:hover {
  background-color: var(--accent-color-B);
  /* text-decoration: line-through;
  text-decoration-color: var(--main-white); */
}

.Event p {
  color: var(--main-white);
  font-size: 70%;
  text-align: left;
  padding: 2px 0 0 5px;

}

.dayheader h5{
  font-size: 1.936vh;
  line-height: 0.9;
  padding: 0.25vh 0;
}

.dayheader h1 {
  font-size: 2.904vh;
  padding-bottom: 0.5vh;
  line-height: 0.9;
} 

.neweventpopup {
  background-color: var(--main-white);
  /* color: var(--accent-color-B); */
  box-shadow: 5px 10px rgba( 119, 141, 169, 0.2);
  border-radius: 5px;
  position: absolute;
  transform: translate(-50%, -50%);
  /* height: 40vh; */
  width: 60vw;
  top: 50%;
  left: 50%;
  z-index: 4;
}

.topbar {
  display: flex;
  justify-content: center;

}

.topbar p {
  width: 5%;
  border-radius: 3px;
  z-index: 4;
}

.topbar p:hover{
  color: var(--main-white);
  background-color: var(--red-accent);
}

.topbar h3 {
  width: 95%;
  transform: translate(5%, 0);
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

label {
  width: 30%;
  text-align: left;
  padding-left: 2vw;
}

input[type=text] {
  width: 95%;
}

#name {
  padding: 0;
  border: 0;
}

/* input[type=submit] {
  width: 30%;
  margin-left: 70%;
} */

.testtt h5 {
  width: 30%;
}

.testtt {
  display: flex;
  flex-direction: row;
}

.DEB {
  font-weight: 800;
  position: absolute;
  border-radius: 3px;
  top: 0;
  right: 5px;
  
}

.DEB:hover {
  color: var(--red-accent);
}


.finalsubmit {
  margin-left: 2vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: white;
  height: 5vh;
  width: 10vw;
  background-color: var(--accent-color-A);
  border: white;
  border-radius: 3px;
}

.finalsubmit:hover {
  transform: scale(0.95, 0.95);
  transition: transform 0.5s var(--transition-curve);
}

.inputlayout {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
}

input[type=text] {
  width: 35vw;
  border: 1px solid rgba( 119, 141, 169, 0.2) !important;
  border-radius: 3px;
  padding: 4px 8px !important; 
}

 input[type=text]:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--accent-color-A);
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: var(--accent-color-A) !important;
}

.finalsubmit:focus {
  outline: none;
  border: 1px solid var(--main-white);
}

.react-datepicker-popper {
  z-index: 6 !important;
}

.react-datepicker__header {
  background-color: var(--test-accent) !important;
  border-bottom: 1px solid rgba( 119, 141, 169, 0.2) !important;
}

.react-datepicker {
  border: 1px solid rgba( 119, 141, 169, 0.2) !important;
}
.react-datepicker__time-container {
  border-left: 1px solid rgba( 119, 141, 169, 0.2) !important;
}
.hidex  {
  display: none;
}

.currenttime {
  height: 0.5vh;
  background-color: var(--red-accent);
  width: 13.571%;
  position: absolute;
  z-index: 2;
}

.resetbtn {
  background-color: var(--red-accent);
  border-radius: 5px;
  color: white;
  position: absolute;
  right: 6vw;
  margin:5px 5px 0 0;
  height: 2vh;
  line-height: 1.5vh;
  font-size: 2vh;
  padding: 5px;
}

.resetbtn:hover {
  transform: scale(0.95, 0.95);
  transition: transform 0.5s var(--transition-curve);
}